<br>
<hr>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-progress-bar mode="query" color="accent"></mat-progress-bar>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-progress-bar mode="indeterminate" color="primary"></mat-progress-bar>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<hr>

<address>
    <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[ GitHub : https://github.com/jozefjavorskyDodo ]</p>
    <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[ eMail : jozef.javorsky.strom44zem88@gmail.com ]</p>
</address>